
.search-input {
    background-color: #f5f5f5;
    border: none;
    height: 2.5rem;
    border-radius: 1rem;
    padding-left: 2rem;
    width: 100%;
  }
  input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    margin:0.5rem;
  }
  .search-input:focus {
    outline-color: #8e0cf1;
  }
  ul {
    margin: 0;
  }
  li {
    margin: 5px 0;
  }
  li::marker {
    color: #8e0cf1;
  }
  .synonyms-list {
    display: flex;
    gap: 0.2rem;
    flex-wrap:wrap;
  }
  #li {
    list-style-type: none;
    color: #8e0cf1;
  }
  #li:not(:last-child)::after {
    content: ",";
  }
 
  